<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>http://YOUR_ONION_ADDRESS.onion/</loc></url>
  <url><loc>http://YOUR_ONION_ADDRESS.onion/about-us.html</loc></url>
  <url><loc>http://YOUR_ONION_ADDRESS.onion/contact.html</loc></url>
  <url><loc>http://YOUR_ONION_ADDRESS.onion/forms.html</loc></url>
  <url><loc>http://YOUR_ONION_ADDRESS.onion/staff.html</loc></url>
  <url><loc>http://YOUR_ONION_ADDRESS.onion/payment.html</loc></url>
  <url><loc>http://YOUR_ONION_ADDRESS.onion/hours.html</loc></url>
</urlset>
